@import "../../../assets/theme/color.less";
@import "../../../assets/theme/app.less";


.@{class-prefix}-btn {
  display      : inline-block;
  outline      : none;
  border-radius: 4px;
  padding      : 4px 15px;
  height       : 32px;
  cursor       : pointer;
  transition   : all 0.3s;
  border       : none;

  &:hover {
    opacity: .9;
  }

  &-primary {
    background: var(--primary);
    color     : #fff;
  }

  &-danger {
    background: var(--danger);
    color     : #fff;
  }
}